html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-image: url('vignette-bottom.png');
  background-repeat: no-repeat;
  background-position: left bottom; 
}

div.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

div.middle {
  display: table-cell;
  vertical-align: middle;
}

div.wrapper {
  border: solid 1px #ccc;
  width: 441px;
  margin: 0px auto;
  box-shadow: 0px 0px 5px 1px #ccc;
  transition: box-shadow 0.2s ease;
}

div.bad-wrapper {
  animation: flash 1s;
}

/* Standard syntax */
@keyframes flash {
  from {
    box-shadow: 0px 0px 5px 1px #f00;
  }
  to {
    box-shadow: 0px 0px 5px 1px #ccc;
  }
} 

div.column {
  display: inline-block;  
}

input.squares {
  width: 45px;
  height: 45px;
  padding: 1px;
  margin: 0px;
  text-align: center;
  background-color: #fff;
  border: solid 1px #ccc;
  font-size: 20px;
  color: #333;
}

div.column:nth-child(3n) > input.squares {
  border-right: solid 1px #999;
}

div.column:nth-child(3n+1) > input.squares {
  border-left: solid 1px #999;
}

div.row:nth-child(3n) > div.column > input.squares {
  border-bottom: solid 1px #999;
}

div.row:nth-child(3n+1) > div.column > input.squares {
  border-top: solid 1px #999;
}

input[type=button] {
  margin: 20px 30px;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "Helvetica Neue";
}

div.bottom-label {
  font-family: "Helvetica Neue";
  font-weight: 100;
  letter-spacing: 1px;
  position: fixed;
  text-align: right;
  bottom: 10px;
  right: 20px;
  line-height: 1.2;
}
